# Editor related
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# OS related
.DS_Store

# Optimized / DLL files
__pycache__/

# Project related
data/*
!data/.gitkeep
exps/*
!exps/.gitkeep
kaggle_dataset
